# Exclude a variety of commonly ignored directories.

exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]
line-length = 80
indent-width = 4
target-version = "py313"

[lint]
# https://docs.astral.sh/ruff/rules/
select = ["ALL"]
ignore = [
    "COM812",  # https://docs.astral.sh/ruff/rules/missing-trailing-comma/
    "D",  # https://docs.astral.sh/ruff/rules/#pydoclint-doc
    "E501",  # https://docs.astral.sh/ruff/rules/line-too-long/
    "FBT001",  # https://docs.astral.sh/ruff/rules/boolean-type-hint-positional-argument/
    "S101",  # https://docs.astral.sh/ruff/rules/assert/
    "SIM300",  # https://docs.astral.sh/ruff/rules/yoda-conditions/
    "N818",  # https://docs.astral.sh/ruff/rules/error-suffix-on-exception-name/
    "TRY400",  # https://docs.astral.sh/ruff/rules/error-instead-of-exception/
]
fixable = ["ALL"]
unfixable = []

[format]
docstring-code-format = true
docstring-code-line-length = 60
