[cmd_reset]
description = "Request a software reset"
display_name = "reset request"
size = 0
type = "structure"

[cmd_reset.groups]
commands = {value = 1, name = "reset"}

[cmd_temperature_set]
description = "Request a change in temperature in degrees C"
display_name = "Request temperature change (C)"
members = [
  {name = "temperature", size = 2, type = 'uint', description = 'Desired temperature'},
  {name = "units", size = 1, type = 'temperature_units', description = 'Selected temperature unit'}
]
size = 3
type = "structure"

[cmd_temperature_set.groups]
commands = {value = 2, name = "temperature_set"}

[commands]
description = "Debug commands for thermostat"
display_name = "Thermostat command"
type = "group"

[file]
brief = '''
Command set for a thermostat
'''
description = '''
Provides basic debug commands for a thermostat.
Allows for both imperial and metric units.
'''

[temperature_units]
description = "Units used for temperature"
display_name = "Temperature Units"
size = 1
type = "enum"
values = [
  {label = "c", display_name = "C", description = "Degrees Celcius"},
  {label = "f", display_name = "F", description = "Degrees Fahrenheit"}
]
